# SPDX-License-Identifier: {{ copyright_license }}
# SPDX-FileCopyrightText: {{ copyright_date }} {{ copyright_holder }}

# Changes here will be overwritten by Copier.
{{_copier_answers|to_nice_yaml}}
