# SPDX-License-Identifier: {{ copyright_license }}
# SPDX-FileCopyrightText: {{ copyright_date }} {{ copyright_holder }}

github: {{ author_username }}
ko_fi: {{ author_username }}
polar: {{ author_username }}
custom:
- https://www.paypal.me/{{ author_username }}
