name: ci

on:
  push:
    branches:
    - main
    - test-me-*
  pull_request:
    branches:
    - main

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: {% raw %}${{ github.event_name == 'pull_request' }}{% endraw %}

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8
  PYTHONWARNDEFAULTENCODING: "1"

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "{{ python_version }}"

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uvx --from taskipy task setup

    - name: Check code formatting
      run: uvx --from taskipy task format_check

    - name: Check code quality (lint)
      run: uvx --from taskipy task lint_check

    - name: Check types
      run: uvx --from taskipy task typecheck

    - name: Build documentation
      run: uvx --from taskipy task docs_build

    - name: Store objects inventory for tests
      uses: actions/upload-artifact@v5
      with:
        name: objects.inv
        path: site/objects.inv

  tests:
    needs: quality
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "{{ python_version }}"

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uvx --from taskipy task setup

    - name: Download objects inventory
      uses: actions/download-artifact@v6
      with:
        name: objects.inv
        path: site/

    - name: Run tests
      run: uvx --from taskipy task test
