name: ci

on:
  push:
    branches:
    - main
    - test-me-*
  pull_request:
    branches:
    - main

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
  cancel-in-progress: {% raw %}${{ github.event_name == 'pull_request' }}{% endraw %}

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8
  PYTHONWARNDEFAULTENCODING: "1"

jobs:
  quality:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml

    - name: Install dependencies
      run: uvx task setup

    - name: Check code formatting
      run: uvx task format_check

    - name: Check code quality (lint)
      run: uvx task lint

    - name: Check types
      run: uvx task typecheck
{%- if is_library %}

    - name: Check for API breaking changes
      run: uvx task check_api
      continue-on-error: true
{%- endif %}

    - name: Build documentation
      run: uvx task docs_build

    - name: Store objects inventory for tests
      uses: actions/upload-artifact@v5
      with:
        name: objects.inv
        path: site/objects.inv

  tests:
    needs: quality
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"
        resolution:
        - highest
        - lowest-direct
        exclude:
        - os: macos-latest
          resolution: lowest-direct
        - os: windows-latest
          resolution: lowest-direct

    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    continue-on-error: {% raw %}${{ matrix.python-version == '3.14' }}{% endraw %}

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
        allow-prereleases: true

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: pyproject.toml
        cache-suffix: {% raw %}${{ matrix.resolution }}{% endraw %}

    - name: Install dependencies
      env:
        UV_RESOLUTION: {% raw %}${{ matrix.resolution }}{% endraw %}
      run: uvx task setup

    - name: Download objects inventory
      uses: actions/download-artifact@v6
      with:
        name: objects.inv
        path: site/

    - name: Run tests
      run: uvx task test
