name: ci

on:
  push:
  pull_request:
    branches:
    - main

defaults:
  run:
    shell: bash

env:
  LANG: "en_US.utf-8"
  LC_ALL: "en_US.utf-8"
  PYTHONIOENCODING: "UTF-8"
  PYTHON_VERSIONS: ""

jobs:

  test-filenames:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Test file names
      run: bash tests/test_filenames.sh

  test-licenses:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure Git
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "dev@pawamoy.fr"
        git config --global user.name "Timothée Mazzucotelli"
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"
    - name: Setup uv
      uses: astral-sh/setup-uv@v5
    - name: Test licenses
      run: uv run --with jinja2 --with pyyaml --with reuse python tests/test_licenses.py

  test-project:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.14'}}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Configure Git
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "dev@pawamoy.fr"
        git config --global user.name "Timothée Mazzucotelli"

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Setup uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: project/pyproject.toml.jinja

    - name: Install Copier
      env:
        PYO3_USE_ABI3_FORWARD_COMPATIBILITY: "1"
      run: uv tool install copier --with copier-templates-extensions

    - name: Test project generation and workflow
      run: bash tests/test_project.sh

  test-project-ci:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Configure Git
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "dev@pawamoy.fr"
        git config --global user.name "Timothée Mazzucotelli"

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.13"

    - name: Setup uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        cache-dependency-glob: project/pyproject.toml.jinja

    - name: Install Copier
      run: uv tool install copier --with copier-templates-extensions

    - name: Trigger and wait project's own CI
      env:
        GH_TOKEN: ${{ secrets.TESTING_PUSH_TOKEN }}
      run: bash tests/wait_ci.sh
